@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

*::-webkit-scrollbar {
    width: 8px;
    
  }

*::-webkit-scrollbar-track {
    background: #171C22;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: #24a263;
    border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(223,223,223,1) 0%, rgba(249,249,249,1) 46%);
    box-sizing: border-box;
}

.header {
    background-image: url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    margin-top: -95px;
}

nav {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 150;
}



nav img {
    width: 100px;
    padding: 5px;
    margin-left: 55px;
}

nav.green{
    background: #24a263;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;
}

ul a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
}

.contenido-header{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    color: white;
    padding-top: 8rem;
    font-family: 'Barlow', sans-serif;
}

.contenido-header h1 {
    font-size: 4rem;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    margin-bottom: -10px;
}

.anim {
    margin-left: 150px;
}



.contenido-header h2 {
    font-size: 2.5rem;
    margin-bottom: 0px;
    margin-left: -0.5rem;
    font-family: 'Mynerve', cursive;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
}

.contenido-header p{
    font-size: 1.3rem;
    line-height: 1.6rem;
    width: 70%;
    text-align: center;
}

.contenido-header br {
    display: none;
}

.contenido-header b{
    color: #24a263;
    text-decoration: underline;
}

label {
    display: none;
}

input {
    display: none;
}

.boton-header {
    background-color: #24a263;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
}

.boton-header a{
    text-decoration: none;
    color: #171717;
    font-size: 1rem;
    font-weight: 700;
}

.scroll-contenedor{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 70%;
    height: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    scrollbar-width: 70%;
    border-radius: 8px;
    gap: 50px;
    margin: 2rem auto;
    
}

.scroll-contenedor .item-scroll{
    background-color: #ffcc4a;
    flex: 0 0 95%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    z-index: 1;
}

.heading-cv{
    
    padding-left: 9rem;
    position: relative;
    top: 1rem;
    z-index: 2;
    font-size: 2.5rem;
    font-family: 'Barlow', sans-serif;
    color: white;
}

.cuadrado-amarillo{
    background-color: #DE744C;
    width: 300px;
    height: 200px;
    z-index: 0;
    position: relative;
    top: -29rem;
    left: 100px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    border-radius: 8px;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: space-between;/*manda los botones al extremo de la pantalla*/
    margin-top: -25rem;
}

.scroll-button {
    position: relative;
    
    width: 10%;
    padding: 0 7rem 0 5rem;
    font-size: 4rem;
    font-family: 'Barlow', sans-serif;
    color: #24a263;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.item-scroll {
    margin-top: -1rem;
}

.item-scroll h3{
    margin-top: 0rem;
    color: transparent;
    -webkit-text-stroke: 0.1rem #DE744C;
    font-weight: 1000;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
}

.item-scroll p b{
    font-weight: 700;
    color: #171717;
    font-family: 'Barlow', sans-serif;
    font-size: 1.3rem;
}

.item-scroll p{
    font-weight: 500;
    color: #171717;
    font-family: 'Barlow', sans-serif;
    font-size: 1.3rem;
}

.item-scroll p a{
    text-decoration: none;
    color: #171717;
}

hr {
    margin-top: -1rem;
    background-color: #DE744C;
    height: 0.2rem;
    border: none;
}


@media (max-width: 992px) { /*PANTALLAS DESDE TABLET HASTA PORTATIL*/
    .header {
        background-position: right;
    }

    .contenido-header{
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 70%;
        color: white;
        font-family: 'Barlow', sans-serif;
        padding-left: 5rem;
    }

    .contenido-header h1 {
        font-size: 3rem;
        margin-top: 8rem;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    }

    .contenido-header h2 {
        font-size: 2rem;

        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    }

    .contenido-header p{
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-align: start;
    }

}

@media (max-width: 935px) { /*SOLO PARA LOS BOTONES DE DESPLAZAMIENTO DEL APARTADO CV*/
    .scroll-button {
        padding: 0 5rem 0 5rem;
    }
}


@media (max-width: 767px) { /*PANTALLAS DESDE MOVIL HASTA TABLET*/
    .header {
        background-position: center;
    }

    #nav img {
        width: 50px;
        padding: 10px;
        margin-left: 15%;
    }
    .contenido-header{
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: auto;
        color: white;
        margin-top: 0rem;
        font-family: 'Barlow', sans-serif;
    }

    nav ul {
        display: none;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        list-style: none;
    }

    .contenido-header h1 {
        font-size: 3rem;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    }

    .contenido-header h2 {
        font-size: 2rem;

        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
    }

    .contenido-header p{
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: start;
    }

    label {
        position: absolute;
        top: 10%;
        left: 75%;
        box-sizing: border-box;
        display: inline-block;
        border: 0.5px solid white;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        color: white;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        user-select: none;
      }

      input:checked  ~ ul{
        display: block;
        position: fixed;
        top: 7%;
        left:65%;
        background-color:#24a263 ;
        padding: 5%;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
        border-radius: 5px;
      }


      .scroll-contenedor{
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 24px;
        width: 75%;
        height: 360px;
        scroll-snap-type: x mandatory;
        scroll-padding: 24px;
        border-radius: 8px;
        gap: 12px;
        margin: 2rem auto;
    }
    
    .scroll-contenedor .item-scroll{
        flex: 0 0 90%;
        padding: 24px;
        border-radius: 8px;
        scroll-snap-align: start;
    }

    

    .cuadrado-amarillo{
        background-color: #DE744C;
        width: 80%;
        height: 100px;
        z-index: 0;
        position: relative;
        top: -31rem;
        left: 1.5rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.527);
        border-radius: 8px;
    }

    .heading-cv{
        padding-left: 2rem;
        position: relative;
        top: 2.3rem;
        z-index: 2;
        font-size: 2.5rem;
        font-family: 'Barlow', sans-serif;
        color: white;
    }

    .item-scroll h3{
        font-size: 1.5rem;
    }
    
    .item-scroll p b{
        font-size: 1rem;
    }
    
    .item-scroll p{
        font-size: 1rem;
    }
}
