@media (min-width:1200px){
    .v{
        animation: transfor1 2000ms ease-in-out forwards alternate;
    }
    
    @keyframes transfor1 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 26.3%;
        }
        100% {
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 22%;
            z-index: 0;
        }
    }

    .i1 {
        animation: transfor2 3000ms ease-in-out forwards alternate;
    }
    @keyframes transfor2 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 40.9%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 24.8%;
        }
    }
    .c1 {
        animation: transfor3 3500ms ease-in-out forwards alternate;
    }
    @keyframes transfor3 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 87.5%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 26%;
        }
    }
    .t {
        animation: transfor4 2500ms ease-in-out forwards alternate;
    }
    @keyframes transfor4 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 54.5%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 28.5%;
        }
    }
    .o {
        animation: transfor5 2500ms ease-in-out forwards alternate;
    }
    @keyframes transfor5 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 68.8%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 30%;
        }
    }
    .r1 {
        animation: transfor6 3000ms ease-in-out forwards alternate;
    }
    @keyframes transfor6 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 70.5%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 32.5%;
        }
    }

    .g {
        animation: transfor7 2000ms ease-in-out forwards alternate;
    }
    @keyframes transfor7 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 37.5%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 35.5%;
        }
    }

    .a1 {
        animation: transfor8 2500ms ease-in-out forwards alternate;
    }
    @keyframes transfor8 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 87%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 38.3%;
        }
    }

    .r2 {
        animation: transfor9 3500ms ease-in-out forwards alternate;
    }
    @keyframes transfor9 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 53.9%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 40.8%;
        }
    }

    .c2 {
        animation: transfor10 3000ms ease-in-out forwards alternate;
    }
    @keyframes transfor10 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 25.5%;
            text-transform: capitalize;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 42.6%;
        }
    }
    .i2 {
        animation: transfor11 2000ms ease-in-out forwards alternate;
    }
    @keyframes transfor11 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 73%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 45%;
        }
    }
    .a2 {
        animation: transfor12 3500ms ease-in-out forwards alternate;
    }
    @keyframes transfor12 {
        0% {
            font-size: 1.2rem ;
            position: absolute;
            top: 5.2%;
            left: 41.3%;
        }
        100%{
            font-size: 4rem;
            position: absolute;
            top: 33%;
            left: 46.3%;
        }
    }

    .contenido-header h2 {
        margin-top: 150px;
    }
}
